*{
    margin:0;
}
a:visited{
    color:inherit;
}
#ue{
    position:relative;
    width:100%;
    height:90px;  
    color:#ff308d;
}
.deka{
    position:relative;
    width:100%;
    height:598px;
}
.h{
    position:relative;
    width:100%;
    height:598px;
}
#h3{
  position:relative;
  font-size:30px;
  text-align:center;
  color:#ff308d;
}
#twitter{
  position:relative;
  font-size:20px;
  bottom:65px;
    right:10px;
}
#pixiv{
  position:relative;
  font-size:20px;
  bottom:65px;
     right:10px;
}
#youtube{
  position:relative;
  font-size:20px;
bottom:65px;
     right:10px;
}
#yu-tyura{
  position:relative;
  font-size:20px;
   bottom:65px;
     right:10px;
}
#cookieclicker{
  position:relative;
  font-size:20px;
   bottom:65px;
     right:10px;
}
#crocodile{
  position:relative;
  font-size:20px;
    bottom:65px;
     right:10px;
}
#github{
  position:relative;
  font-size:20px;
  bottom:65px;
     right:10px;
}
html{
  background-color:#000000;
  z-index:-2;
}
.box{
  background-image:url(dummy.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  text-align:center;
  width:1366px;
  height:508px; 
}
#daily_image{
    width:auto;
    height:98%;
}
#daily1_image{
    width:auto;
    height:98%;
}
#daily2_image{
    width:auto;
    height:98%;
}
.cookie-img{
  background-image:url(cookie-img.jpg);
  background-repeat:no repeat;
  background-size:cover;
  width:1366px;
  height:598px;
  border-style:none;
  text-align:center;
ã€€z-index:5;
  }
#h2{
  position:relative;
  bottom:100px;
  font-size:70px;
  text-align:center;
  color:#000000;
}
#twitter1{
  position:relative;
  color:#3d291a;
  font-size:20px;
  left:674px;
  top:110px;
  width:100px;
}
#pixiv1{
  position:relative;
  color:#3d291a;
  font-size:20px;
  left:567px;
  top:50px;
  z-index:10;
  width:100px;
}
#youtube1{
  position:relative;
  color:#3d291a;
  font-size:20px;
  bottom:5px;
  left:1130px;
  width:100px;
}
#yu-tyura1{
  position:relative;
  color:#3d291a;
  font-size:20px;
  left:1132px;
  top:5px;
  z-index:10;
    width:100px;
}
#cookieclicker1{
  position:relative;
  color:#3d291a;
  font-size:20px;
  left:520px;
  top:142px;
    width:200px;
}
#crocodile1{
  position:relative;
  color:#3d291a;
  font-size:20px;
  bottom:70px;
  left:950px;
    width:140px;
}
#github1{
  position:relative;
  color:#3d291a;
  font-size:20px;
     bottom:100px;
  left:233px;
  width:100px;
}
.hidden {
  display: none;
  width:1px;
  height:1px;
}
button{
  position:relative;
  right:645px; 
  top:416px;
  width:1px;
  height:1px;
  z-index:100;
  background:#4D3F3F;
  border:none;
}
