*{
    margin:0;
}
a:visited{
    color:inherit;
}
#ue{
    position:relative;
    width:100%;
    height:90px;  
    color:#ff308d;
    z-index:4;
}
.deka{
    position:absolute;
    width:100%;
    height:598px;
    z-index:3;
}
#h{
    position:absolute;
    width:100%;
    height:598px;
    z-index:5;
}
#h3{
  position:relative;
  font-size:30px;
  text-align:center;
  color:#ff308d;
}
html{
  background-color:#000000;
  z-index:-2;
}
.box{
  background-image:url(dummy.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  text-align:center;
  width:1366px;
  height:508px; 
}
#daily_image{
    width:auto;
    height:98%;
}
#daily1_image{
    width:auto;
    height:98%;
}
#daily2_image{
    width:auto;
    height:98%;
}
.cookie-img{
  background-image:url(cookie-img.jpg);
  background-repeat:no repeat;
  background-size:cover;
  width:1366px;
  height:598px;
  border-style:none;
  text-align:center;
  }
#h2{
  position:relative;
  bottom:20px;
  font-size:70px;
  text-align:center;
  color:#000000;
}
#twitter1{
  position:relative;
  color:#3d291a;
  font-size:20px;
  left:674px;
  top:190px;
  width:100px;
}
#pixiv1{
  position:relative;
  color:#3d291a;
  font-size:20px;
  left:567px;
  top:130px;
  z-index:10;
  width:100px;
}
#youtube1{
  position:relative;
  color:#3d291a;
  font-size:20px;
  top:65px;
  left:1130px;
  width:100px;
}
#yu-tyura1{
  position:relative;
  color:#3d291a;
  font-size:20px;
  left:1132px;
  top:75px;
  z-index:10;
    width:100px;
}
#cookieclicker1{
  position:relative;
  color:#3d291a;
  font-size:20px;
  left:520px;
  top:222px;
    width:200px;
}
#crocodile1{
  position:relative;
  color:#3d291a;
  font-size:20px;
  top:10px;
  left:950px;
    width:140px;
}
#github1{
  position:relative;
  color:#3d291a;
  font-size:20px;  
  bottom:20px;
  left:233px;
  width:100px;
}
button{
  position:relative;
  top:385px;
  left:13px;
  width:1px;
  height:1px;
  z-index:100;
  background:#000000;
  border:none;
  cursor: pointer;
}
