*{
    margin:0;
    padding:0;
}
*{
    outline: 2px red solid;
}
#ue{
    width:100%;
    height:90px;
}
.h{
    position:relative;
    width:100%;
    height:598px;
    bottom:20px;
}
#h3{
  position:relative;
  font-size:40px;
  text-align:center;
  color:#ff308d;
}
#twitter{
  position:relative;
  color:#ff308d;
  font-size:20px;
}
#pixiv{
  position:relative;
  color:#ff308d;
  font-size:20px;
}
#youtube{
  position:relative;
  color:#ff308d;
  font-size:20px;
}
#yu-tyura{
  position:relative;
  color:#ff308d;
  font-size:20px;
}
#cookieclicker{
  position:relative;
  color:#ff308d;
  font-size:20px;
}
#crocodile{
  position:relative;
  color:#ff308d;
  font-size:20px;
}
#github{
  position:relative;
  color:#ff308d;
  font-size:20px;
}
html{
  background-color:#000000;
}
.box{
  background-image:url(dummy.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  text-align:center;
  width:1366px;
  height:508px; 
}
#daily_image{
    width:auto;
    height:98%;
}
#daily1_image{
    width:auto;
    height:98%;
}
#daily2_image{
    width:auto;
    height:98%;
}
.cookie-img{
  background-image:url(cookie-img.jpg);
  background-repeat:no repeat;
  background-size:cover;
  width:1366px;
  height:598px;
  border-style:none;
  text-align:center;
  }
#h2{
  position:relative;
  font-size:70px;
  text-align:center;
  color:#000000;
}
#twitter1{
  position:relative;
  color:#3d291a;
  font-size:20px;
  left:674px;
  top:220px;
  width:100px;
}
#pixiv1{
  position:relative;
  color:#3d291a;
  font-size:20px;
  left:567px;
  top:160px;
  z-index:10;
  width:100px;
}
#youtube1{
  position:relative;
  color:#3d291a;
  font-size:20px;
  left:1130px;
  top:95px;
  width:100px;
}
#yu-tyura1{
  position:relative;
  color:#3d291a;
  font-size:20px;
  left:1132px;
  top:105px;
  z-index:10;
    width:100px;
}
#cookieclicker1{
  position:relative;
  color:#3d291a;
  font-size:20px;
  left:520px;
  top:242px;
    width:200px;
}
#crocodile1{
  position:relative;
  color:#3d291a;
  font-size:20px;
  left:950px;
  top:30px;
    width:140px;
}
#github1{
  position:relative;
  color:#3d291a;
  font-size:20px;
  left:240px;
  top:0px;
  width:100px;
}
.hidden {
  display: none;
  position:relative;
  color:#3d291a;
  top:280px;
  left:700px;
  width:1px;
  height:1px;
}
button{
  width:1px;
  height:1px;
}
