*{
    margin:0;
}
*{
    outline: 2px red solid;
}
h1{
  font-size:60px;
  text-align:center;
  color:#eb34ba;
}
html{
  background-color:#1f1f1f;
}
.box{
  width:1366px;
  height:500px;
  background-image:url(dummy.jpg);
  background-repeat:no-repeat;
  background-size:600px auto;  
  background-position:center; 
#daily_image{
  text-align:center;  
}
a{
  color:#eb34ba;
  font-size:20px;
  position:relative;
  bottom:50px;
}
