*{
    margin:0;
}
#ue{
    width:100%;
    height:90px;
}
h1{
  font-size:60px;
  text-align:center;
  color:#eb34ba;
}
html{
  background-color:000000;
}
.box{
  background-image:url(dummy.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  text-align:center;
  width:1366px;
  height:508px; 
}
#daily_image{
    width:auto;
    height:98%;
}
#daily1_image{
    width:auto;
    height:98%;
}
#daily2_image{
    width:auto;
    height:98%;
}
a{
  color:#eb34ba;
  font-size:20px;
  position:relative;
  bottom:55px;
  left:30px;
}
