h1{
  font-size:60px;
  text-align:center;
  color:#eb34ba;
}
html{
  background-color:#1f1f1f;
}
a{
  color:#eb34ba;
  font-size:20px;
}
}
#daily_image{
  background-repeat:  no-repeat; 
  background-position: center; 
  width: 100%;
  height: 100%;
  object-fit: contain;
}
