*{
    margin:0;
}
*{
    outline: 2px red solid;
}
h1{
  font-size:60px;
  text-align:center;
  color:#eb34ba;
}
html{
  background-color:#1f1f1f;
}
.box{
  background-image:url(dummy.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  text-align:center;
  width:1366px;
  height:482px; 
}
#daily_image{
    width:33%;
    height:auto;
}
#daily1_image{
    width:auto;
    height:482px;
}
#daily2_image{
    width:auto;
    height:482px;
}
a{
  color:#eb34ba;
  font-size:20px;
  position:relative;
ã€€left:20px;
  bottom:50px;
}
