h1{
  font-size:60px;
  text-align:center;
  color:#eb34ba;
}
html{
  background-color:#1f1f1f;
}
a{
  color:#eb34ba;
  font-size:20px;
}
.box{
  background-position:center;
  width:100%;
  height:600px;
}
.daily_image{
  background-repeat:  no-repeat; 
  background-position: center; 
  width: 100%;
  height: auto;
  object-fit: contain;
}
